<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <h1>Project Detail</h1>

  <form action="/submission/update" method="POST">
    <h4>id:<%= data.id %> </h4>
    <input type="hidden" name="id" value="<%= data.id %>">
    <h4>Date Created: <%= data.created_time %> </h4>
    <h2>Company</h2>
    <b>Company Name: </b>
    <input type="text" name="company_name" value="<%= data.company_name ? data.company_name : '' %>"> <br>
    <b>Street:</b>
    <input type="text" name="street_address" value="<%= data.street_address ? data.street_address : '' %>"> <br>
    <b>Address Line 2:</b>
    <input type="text" name="address_line_2" value="<%= data.address_line_2 ? data.address_line_2 : '' %>"> <br>
    <b>City:</b>
    <input type="text" name="city" value="<%= data.city ? data.city : '' %>"> <br>
    <b>Province:</b>
    <select name="province">
      <%
    var province_lable = [ "British Columbia", "Alberta", "Manitoba" ];
    var options = ["BC", "AB", "MA"]
    for ( var i = 0; i < options.length; i++ ) 
    { var selected=( data.province == options[i] )? "selected" : ""
      ; %>
      <option value="<%=options[ i ] %>" <%=selected %>><%=province_lable[i] %></option><%
    }
    %>
    </select>
    <br>
    <b>Postal Code:</b>
    <input type="text" name="postal_code" value="<%= data.postal_code ? data.postal_code : '' %>"> <br>
    <b>Phone:</b>
    <input type="tel" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" name="phone" value="<%= data.phone ? data.phone : '' %>">
    <br>
    <b>Website: </b>
    <input type="text" name="website" value="<%= data.website ? data.website : '' %>"> <br>
    <b>Non Profit Organization: </b>
    <% var checked=( data.non_profit_organization == "on")? "checked" : "" %>
    <input type="checkbox" name="non_profit_organization" value="on" <%=checked %>> <br>
    <b>Company/Business profile:</b>
    <br>
    <textarea name="company_business_profile" rows="10" cols="50"><%= data.company_business_profile %></textarea>
    <h2>Contact Person</h2>
    <b>Salutation: </b>
    <select name="prefix">
      <%
    var prefix_lable = [ "Mr.", "Mrs.", "Ms." ];
    var options = ["mr", "mrs", "ms"]
    for ( var i = 0; i < options.length; i++ ) 
    { var selected=( data.prefix == options[i] )? "selected" : ""
      ; %>
      <option value="<%=options[ i ] %>" <%=selected %>><%=prefix_lable[i] %></option><%
    }
    %>
    </select><br>

    <b>First Name: </b>
    <input type="text" name="first" value="<%= data.first ? data.first : '' %>"> <br>
    <b>Last Name: </b>
    <input type="text" name="last" value="<%= data.last ? data.last : '' %>"> <br>
    <b>Position Name: </b>
    <input type="text" name="position" value="<%= data.position ? data.position : '' %>"><br>
    <b>Phone: </b>
    <input type="tel" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" name="personal_phone"
      value="<%= data.personal_phone ? data.personal_phone : '' %>"> <br>
    <b>Email: </b>
    <input type="text" name="email" value="<%= data.email ? data.email : '' %>">


    <h2>Project</h2>
    <b>Project area</b><br>
    <%
    var project_list = data.project_area.split(',');
    var options = [ "DevOps", "Networking", "Web Development","Mobile Development","Scripting/IT","Games","AR/VR", "Machine Learning/Algorithms/Research","Other"];
    for ( var i = 0; i < options.length; i++ ) 
    { var checked=( project_list[i] == options[i] )? "checked" : ""
      ; %>
    <input type="checkbox" name="project_area" value="<%=options[ i ] %>" <%=checked %>><%=options[i] %><br><%
    }
    %>
    <b>Project Description:</b><br>
    <textarea name="project_description" rows="10" cols="50"><%= data.project_description %></textarea> <br>
    <b>Project Duration/Timing</b> <br>
    <textarea name="project_duration" rows="10" cols="50"><%= data.project_duration %></textarea>
    <br>
    <b>No preference on the duration or timing on the project: </b>
    <% var checked=( data.project_duration_no_preference == "on")? "checked" : "" %>
    <input type="checkbox" name="project_duration_no_preference" value="on" <%=checked %>> <br>
    <b>Description of the current arrangement: </b> <br>
    <textarea name="current_arrangement" rows="10" cols="50"><%= data.current_arrangement %></textarea> <br>
    <b>Programming language or languages would be used: </b><br>
    <textarea name="programming_language" rows="10" cols="50"><%= data.programming_language %></textarea> <br>
    <b>Hardware & Software Requirements:</b><br>
    <textarea name="hardware_software_requirements" rows="10"
      cols="50"><%= data.hardware_software_requirements %></textarea>
    <br>
    <b>Continuation of a previous student project: </b>
    <%
    var options = [ "yes", "no"];
    for ( var i = 0; i < options.length; i++ ) 
    { var checked=( data.continuation_project == options[i] )? "checked" : ""
      ; %>
    <input type="radio" name="continuation_project" value="<%=options[ i ] %>"
      <%=checked %>><label><%=options[i] %></label>
    <%
    }
    %>
    <br>
    <b>Hear about ISSP</b><br>
    <%
    var options = [ "BCIT's website", "BCIT email message", "BCIT internal announcements", "Ad on LinkedIn", "Ad on T-Net", "Company I work for", "BC Technology Industry", "BC Innovation Council", "Other"];
    for ( var i = 0; i < options.length; i++ ) 
    { var checked=( data.hear_about_ISSP == options[i] )? "checked" : ""
      ; %>
    <input type="radio" name="hear_about_ISSP" value="<%=options[ i ] %>"
      <%=checked %>><label><%=options[i] %></label><br>
    <%
    }
    %>
    <b>Sponsor Commitments: </b>
    <% var checked=( data.sponsor_commitments == "on")? "checked" : "" %>
    <input type="checkbox" name="sponsor_commitments" value="on" <%=checked %>>
    <br>
    <br>
    <br>
    <input type="submit" class="btn btn-success" value="Submit" />
  </form>

</body>

</html>