<!DOCTYPE html>
<html>
<head>
    <title>ISSP Projects Review</title>
    <link rel="icon" type="image/png" sizes="32x32" href="/android-chrome-192x192.png">
    <!-- Custom styles for this template -->
    <link href="/stylesheets/sb-admin-2.min.css" rel="stylesheet">
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <!-- Custom styles for this page -->
    <link rel="stylesheet" href="/stylesheets/submissionlist.css">
    <link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/sd-admin_custom.css">
</head>
<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
        <%- include('./partials/dashboard_side_nav.ejs') %>
            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">
                <!-- Main Content -->
                <div id="content">
                    <%- include('./partials/dashboard_top_nav.ejs') %>
                    <!-- Begin Page Content -->
                    <div class="container-fluid">
                        <%- include('partials/messages.ejs') %>
                        <!-- DataTales -->
                        <div class="card shadow mb-4">
                            <div class="card-header row">
                                <select id="table_year_term" class="form-control col-lg-2">
                                </select>
                                <button id="btn-show-all-children" class="btn btn-primary col-lg-2">Expand All Details</button>
                                <button id="btn-hide-all-children" class="btn btn-primary col-lg-2 display_none">Hide All Details</button>
                            </div>
                            <div class="card-body">
                                <table id="table_id_feedbackList" class="table table-striped table-bordered dt-responsive" width="100%" data-page-length='10'>
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>ID</th>
                                            <th>Program</th>
                                            <th>Project Description</th>
                                            <th>Last Comment</th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- /.container-fluid -->
    
                </div>
                <!-- End of Main Content -->
            </div>
            <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/js/jquery-cookie.js"></script>
    <script src="/js/sb-admin-2.js"></script>

    <!-- Page level plugins -->
    <script src="/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script src=/js/dataTables.buttons.js></script>
    <script src=/js/buttons.html5.min.js></script>
    <script src=/js/jszip.min.js></script>
    <script src=/js/pdfmake.min.js></script>
    <script src=/js/vfs_fonts.js></script>

</body>
<script>
    function format ( d ) {
        var pre = ''
        var temp_html = 
    "<div class='form-row'>"+
        "<div class='col-xl-6'>"+
                "<h5>Project Details </h5>" +
                '<strong>Project Area: </strong>' + d.project_area + '<br>' +
                '<strong>Description: </strong>' + d.project_description + '<br>' +
                '<strong>Duration: </strong>' + d.duration + '<br>' +
                '<strong>No preference of project duration: </strong>' + d.project_duration_no_preference + '<br>' +
                '<strong>Current Arrangement: </strong>' + d.current_arrangement + '<br>' +
                '<strong>Programming Language: </strong>' + d.programming_language + '<br>' +
                '<strong>Software & Hardware Requirements: </strong>' + d.hardware_software_requirements + '<br>' +
        "</div>"+
        "<div class='col-xl-6'>"+
                "<h5>Company </h5>" +
                '<strong>Name: </strong>' + d.company_name + '<br>' +
                '<strong>Profile: </strong>' + d.company_business_profile + '<br>' +
                '<strong>Address: </strong>' + d.street_address + ' ' + d.address_line_2 + ', ' + d.city + ', ' + d.province + ', ' + d.postal_code + '<br>' +
                '<strong>Phone: </strong>' + d.phone + '<br>' +
                '<strong>Website: </strong>' + d.website + '<br>' +
                '<strong>Non-profit: </strong>' + d.non_profit_organization + '<br>' +
        "</div>"+
    "</div>"+
    "<div class='row'>"+
        "<div class='col-xl-6'>"+
                "<h5>Contact Person</h5>" +
                '<strong>Name: </strong>' + pre + d.first + ' ' + d.last + '<br>' +
                '<strong>Phone: </strong>' + d.personal_phone + '<br>' +
                '<strong>Email: </strong>' + d.email + '<br>' +
                '<strong>Position: </strong>' + d.position + '<br>' +
        "</div>"+
        "<div class='col-xl-6'>"+
                "<h5>Other Information </h5>" +
                '<strong>How did you hear about ISSP? : </strong>' + d.hear_about_ISSP + '<br>' +
                '<strong>Assigned Year: </strong>' + d.assigned_year + '<br>' +
                '<strong>Assigned Term: </strong>' + d.assigned_term + '<br>' +
                '<strong>Assigned Program: </strong>' + d.category + '<br>' +
        "</div>"+
    "</div>"
    return temp_html;
    }

    $(document).ready(function() {
        $('table thead tr').clone(true).appendTo('table thead');
        $('table thead tr:eq(1) th').each(function (i) {
            if (i>0 && i <5){
            $(this).html('<input class="form-control form-control-sm" type="text" placeholder="Filter..." />');
            $('input', this).on('keyup change', function () {
                if (dt.column(i).search() !== this.value) {
                    dt
                        .column(i)
                        .search(this.value, true)
                        .draw();
                }
            });}
        });


        var dt = $('table.table').DataTable( {
            "search": {
                "regex": true
            },
            "orderCellsTop": true,
            "searching": true,
            "processing": true,
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
            "data": <%- feedbackList %>,
            "columns": [
                {
                    "class":          "details-control",
                    "orderable":      false,
                    "data":           null,
                    "defaultContent": ""
                },// index 0
                { "data": "id" },// index 1
                { "data": "category" },// index 2
                { "data": "project_description" },// index 3
                {"render": function( data, type, row, meta){
                    return (row.feedback_time == "No Comment Yet") ? row.feedback_time: row.feedback_time + " by " + row.feedback_user
                }},// index 4
                {"orderable":      false,
                "render": function ( data, type, row, meta ) {
                    return '<a href="/submission/feedback?id='+row.id+ '"class="btn btn-success cus-btn" type="submit">Feedback</a>';
                }},// index 5
                {"orderable":      false,
                "render": function ( data, type, row, meta ) {
                    temp_button_group = '<div class="btn-group">' +
                        '<button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">' +
                        'Actions' +
                        '</button>' +
                        '<div class="dropdown-menu">' +
                        '<a href="/submission/edit?id=' + row.id + '" class="dropdown-item">Edit</a>' +
                        '<a href="/submission/feedback?id=' + row.id + '"class="dropdown-item" type="submit">Feedback</a>' +
                        '<div class="dropdown-divider">' +
                        '</div>' +
                        '<form class="del" action="/submission/delete" method="POST" >' +
                        '<input name="id" type="hidden" value="' + row.id + '" />' +
                        '<button class="dropdown-item" type="submit">Delete</button>' +
                        '</form>' +
                        '</div>' +
                        '</div>';
                    return temp_button_group
                }},// index 6
                {"orderable":      false,
                "render": function ( data, type, row, meta ) {
                    return JSON.stringify(row)
                }},// index 7
                { "data": "assigned_year" },// index 8
                { "data": "assigned_term" }// index 9
            
            ],
            "columnDefs": [
            {
                "targets": [<%- role == 'admin' ? '5,7,8,9' : '6,7,8,9' %>], 
                "visible": false,
                "searchable": true
            },
            {
            targets: [3],
                render: function ( data, type, row ) {
                    var extra = (data.length>250)? "...":" ";
                    return (data.substr( 0, 250 )+extra) ;
                }
            },
            { 
                "width": "30px", "targets": 0 
            },
            { 
                "width": "60px", "targets": 1 
            }],
            "order": [[1, 'desc']],
            "createdRow": function( row, data, dataIndex){
                    if( data['category'] ===  'CIT'){
                        $(row).addClass('cit_bg');
                    } else if( data['category'] ===  'CST'){
                        $(row).addClass('cst_bg');
                    }else if( data['category'] ===  'Full Stack Web Development'){
                        $(row).addClass('fswd_bg');
                    }else if( data['category'] ===  'Rejected'){
                        $(row).addClass('reject_bg');
                    }
                }
        } );

    // Array to track the ids of the details displayed rows
        var detailRows = [];

        $('table tbody').on( 'click', 'tr td.details-control', function () {
            var tr = $(this).closest('tr');
            var row = dt.row( tr );
            var idx = $.inArray( tr.attr('id'), detailRows );

            if ( row.child.isShown() ) {
                tr.removeClass( 'details' );
                row.child.hide();
                tr.removeClass('shown');
                // Remove from the 'open' array
                detailRows.splice( idx, 1 );
            }
            else {
                tr.addClass( 'details' );
                row.child( format( row.data() ) ).show();
                tr.addClass('shown');
                // Add to the 'open' array
                if ( idx === -1 ) {
                    detailRows.push( tr.attr('id') );
                }
            }
        } );

    // On each draw, loop over the `detailRows` array and show any child rows
    dt.on( 'draw', function () {
        $.each( detailRows, function ( i, id ) {
            $('#'+id+' td.details-control').trigger( 'click' );
        } );
    } );

    // Dynamic generate options for "year term" and select first option
    var year_term_list = <%- year_term %>
    $.each(year_term_list, function(i){
        var temp_option = document.createElement("option")
        temp_option.innerHTML = year_term_list[i].year_term
        temp_option.value = year_term_list[i].year_term
        if (i == 0){
            // initialize filter based on first item in year_term selection.
            document.getElementById("table_year_term").value = year_term_list[i].year_term
            var temp_year_term = year_term_list[i].year_term.split(" ")
            dt
            .columns( 8 )
            .search( temp_year_term[0] )
            .draw();
            dt
            .columns( 9 )
            .search( temp_year_term[1] )
            .draw();
        }
        $("#table_year_term").append(temp_option)
    })

    // On selecting new "year term", filter of table accordingly
    $("#table_year_term").change(function () {
        var temp_year_term = this.value.split(" ")
        dt
        .columns( 8 )
        .search( temp_year_term[0] )
        .draw();
        dt
        .columns( 9 )
        .search( temp_year_term[1] )
        .draw();
    } );


    // Handle click on "Expand All" button
    $('#btn-show-all-children').on('click', function(){
        // Enumerate all rows
        dt.rows().every(function(){
            // If row has details collapsed
            if(!this.child.isShown()){
                // Open this row
                this.child(format(this.data())).show();
                $(this.node()).addClass('shown');
            }
        });
        document.getElementById("btn-show-all-children").classList.add("display_none")
        document.getElementById("btn-hide-all-children").classList.remove("display_none")
    });

    // Handle click on "Collapse All" button
    $('#btn-hide-all-children').on('click', function(){
        // Enumerate all rows
        dt.rows().every(function(){
            // If row has details expanded
            if(this.child.isShown()){
                // Collapse row details
                this.child.hide();
                $(this.node()).removeClass('shown');
            }
        });
        document.getElementById("btn-hide-all-children").classList.add("display_none")
        document.getElementById("btn-show-all-children").classList.remove("display_none")
    });

    // Handle confirm delete
    $('form.del').on('submit', '', function () {
        return confirm('Are you sure you want to delete?')
    } );


    })

</script>

</html>