<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Feedback</title>
	<link rel="stylesheet" href="/stylesheets/feedback.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
	<div class="detailBox">
		<div class="titleBox">
			<label>Comment Box</label>
		</div>
		<div class="commentBox">
			<p class="taskDescription">ID: <%= feedbackData.id %></p>
			<p>Date Created: <%= feedbackData.created_time %></p>
			<p>Company: <%= feedbackData.company_name %></p>
			<form action="/submission/updateCategory" method="POST">
				<input type="hidden" name="project_id" value="<%= feedbackData.id %>">
				<b>Category:</b>
				<div class="form-check mt-2">
					<%
					var options = [ "CIT", "CST", "Both", "Full Stack Development", "Not Assigned"];
					for ( var i = 0; i < options.length; i++ ) 
					{ var checked=( feedbackData.category == options[i] )? "checked" : ""
					; %>
					<input type="radio" class="form-check-input" name="category" value="<%=options[ i ] %>"
						<%=checked %>><%=options[i] %><br><%
					}
					%>
				</div>
				<div class="form-inline mt-2">
					<div class="form-group">
					  <b>Year:</b>
					  <input type="text" name="year" class="form-control" value="<%= feedbackData.year ? feedbackData.year : '' %>"> <br>
					</div>
				</div>
				<div class="form-inline mt-2">
					<div class="form-check">
					  <b>Term:</b>
					  <%
				  var options = [ "Winter", "Spring/Summer", "Fall", "Not Assigned" ];
				  for ( var i = 0; i < options.length; i++ ) 
				  { var checked=( feedbackData.term == options[i] )? "checked" : ""
					; %>
					  <input type="radio" name="term" class="form-check-input" value="<%=options[ i ] %>"
						<%=checked %>><label class="mr-1"><%=options[i]%></label>
					  <%
				  }
				  %>
					</div>
				</div>
				<div class="form-group mt-4">
					<input type="submit" class="btn btn-success mr-4" value="Assign" />
				</div>
			</form>
		</div>
		<form class="form" action="/submission/submitFeedback" method="POST">
			<input type="hidden" name="project_id" value="<%= feedbackData.id %>">
			<input type="hidden" name="feedback_user" value="<%= userData %>">
			<div class="actionBox">
				<ul class="commentList">
					<% if (returnData.length !=0) { %>
						<% for(var i=0; i < returnData.length ; i++) { %>
							<li>
								<div class="commenterImage">
									<img src="http://placekitten.com/50/50" />
								</div>
								<div class="commentText">
									<p><%= returnData[i].feedback_user%></p>
									<p><%= returnData[i].feedback%></p> <span class="date sub-text"> on <%= returnData[i].feedback_time %></span>
								</div>
							</li>
							<% } %>
					<% } else { %>
						<li>
							<div class="commentText">
								<p>No Comment</p>
							</div>
						</li>
					<% } %>
				</ul>
			</div>
			<div class="form-group">
				<textarea name="feedback" rows="8" class="form-control" placeholder="Your comments......"></textarea>
			</div>
			<div class="form-group">
				<input type="submit" class="btn btn-success mr-4" value="Post" />
				<button type="button" class="btn btn-danger" onclick="location.href='/submissionList'">Cancel</button>
			</div>
		</form>	
	</div>
</body>

</html>

