<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/student_catalogue.css">
    <link rel="icon" type="image/png" sizes="32x32" href="/android-chrome-192x192.png">
    <title>ISSP <%= program %> Student Catalogue (<%= year %> <%= term %>)</title>
	<meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
	<div class="container">
        <div id="data">
            <h1>ISSP <%= program %> Student Catalogue (<%= year %> <%= term %>)</h1>
            <button onclick="print_current_page()" class="btn btn-primary col-md-3 non-print">Print This file</button>
        </div>
    </div>
</body>
<script>
function print_current_page(){
    window.print();
}

var allData = <%- submissionData %>
if (allData[0] == undefined){
    data_div = document.getElementById("data")
    data_data = data_div.innerHTML
    var temp_html = 
    "<div class='data'>"+
        "<div class='form-row'>"+
            "<div class='col-md-12' style='color:red;'>"+
                '<strong>NO PROJECT ASSIGNED </strong>' +
            "</div>"
        "</div>" 
    "</div>" 
    data_div.innerHTML = data_data + temp_html
}
for (i=0; i < allData.length; i++){
    d = allData[i];
    var temp_html = 
    "<div class='data'>"+
        "<div class='form-row'>"+
            "<div class='col-md-12'>"+
                '<span>Project ID: </span><br>' + d.id + '<br>' +
                '<br><span>Company: </span><br>' + d.company_name + '<br>' +
                '<br><span>Project Areas: </span><br>' + d.project_area + '<br>' +
                '<br><span>Company Profile: </span><br>' + d.company_business_profile + '<br>' +
                '<br><span>Project Description: </span><br>' + d.project_description + '<br>' +
                '<br><span>Programming Language(s): </span><br>' + d.programming_language + '<br>' +
                '<br><span>Hardware/Software Requirements: </span><br>' + d.hardware_software_requirements + '<br>' +
                '<br><span>Current Work/Arrangement: </span><br>' + d.current_arrangement + '<br>' +
                '<br><span>Previous Project?: </span><br>' + d.continuation_project + '<br>' +
            "</div>"
        "</div>" 
    "</div>" 
    
    data_div = document.getElementById("data")
    data_data = data_div.innerHTML
    data_div.innerHTML = data_data + temp_html

}
</script>
</html>