<!DOCTYPE html>
<html>
<head>
    <title>ISSP Submission List</title>
    <!-- Custom styles for this template -->
    <link href="/stylesheets/sb-admin-2.min.css" rel="stylesheet">
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <!-- Custom styles for this page -->
    <link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/submissionlist.css">
    <link rel="stylesheet" href="/stylesheets/sd-admin_custom.css">
    <link rel="stylesheet" href="/stylesheets/buttons.dataTables.css">
</head>
<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
        <%- include('./partials/dashboard_side_nav.ejs') %>
            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">
                <!-- Main Content -->
                <div id="content">
                    <%- include('./partials/dashboard_top_nav.ejs') %>
                    
                    <!-- Begin Page Content -->
                    <div class="container-fluid">

                        <!-- DataTales Example -->
                        <div class="card shadow mb-4">
                            <div class="card-body">
                                <select id="table_year_term" class="form-control" style="width:200px;">

                                </select>
                                <table id="example" class="table table-striped table-bordered dt-responsive" width="100%" cellspacing="0" data-page-length='10'>
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>ID</th>
                                            <th>Date Created</th>
                                            <th>Company name</th>
                                            <th>Project description</th>
                                            <th>Current Arrangement</th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- /.container-fluid -->
    
                </div>
                <!-- End of Main Content -->
            </div>
            <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script src=/js/dataTables.buttons.js></script>
    <script src=/js/buttons.html5.min.js></script>
    <script src=/js/jszip.min.js></script>
    <script src=/js/pdfmake.min.js></script>
    <script src=/js/vfs_fonts.js></script>

</body>
<script>
function format ( d ) {
    var pre = ''
    if (d.prefix != null){
        pre = d.prefix
    }
    return 'Contact: '+ pre + ' ' + d.first + ' '+ d.last +'<br>'+
        'Contact Phone: '+d.phone+'<br>'+
        'The child row can contain any data you wish, including links, images, inner tables etc.';
}

$(document).ready(function() {
    $('table thead tr').clone(true).appendTo('table thead');
    $('table thead tr:eq(1) th').each(function (i) {
        if (i>0 && i <6){
        $(this).html('<input class="form-control form-control-sm" type="text" placeholder="Filter..." />');
        $('input', this).on('keyup change', function () {
            if (dt.column(i).search() !== this.value) {
                dt
                    .column(i)
                    .search(this.value)
                    .draw();
            }
        });}
    });
    var dt = $('table.table').DataTable( {
        dom: 'Bfrtip',
        buttons: [
        {
            extend: 'pdf',
            orientation: 'landscape',
            text: 'Export PDF',
            exportOptions: {
                columns: [ 0, 1, 2, 3, 4, 5,],
            }

        }
        ],
        "orderCellsTop": true,
        "ordering": true,
        "searching": true,
        "processing": true,
        "data": <%- submissionData %>,
        "columns": [
            {
                "class":          "details-control",
                "orderable":      false,
                "data":           null,
                "defaultContent": ""
            },
            { "data": "id" },
            { "data": "created_time" },
            { "data": "company_name" },
            { "data": "project_description" },
            { "data": "current_arrangement" },
            {"orderable":      false,
            "render": function ( data, type, row, meta ) {
                return '<a href="/submission/edit?id='+row.id+ '" class="btn btn-outline-info">Edit</a>';
            }},
            {"orderable":      false,
            "render": function ( data, type, row, meta ) {
                return '<form action="/submission/feedback" method="POST" >' + 
                    '<input name="id" type="hidden" value="'+row.id+ '" />' +
                    '<button class="btn btn-outline-success" type="submit">Feedback</button>' +
                '</form>';
            }},
            {"orderable":      false,
            "render": function ( data, type, row, meta ) {
                return '<form class="del" action="/submission/delete" method="POST" >' + 
                    '<input name="id" type="hidden" value="'+row.id+ '" />' +
                    '<button class="btn btn-danger" type="submit">Delete</button>' +
                '</form>';
            }},
            {"orderable":      false,
            "render": function ( data, type, row, meta ) {
                return JSON.stringify(row)
            }},
            { "data": "assigned_year" },
            { "data": "assigned_term" }
        ],
        "columnDefs": [
        {
            "targets": [ <%- role == 'admin' ? '9,10,11' : '6,8,9,10,11' %> ], // show buttons based on roles
            "visible": false,
            "searchable": true
        }],
        "order": [[1, 'asc']]
    } );

    // Array to track the ids of the details displayed rows
    var detailRows = [];

    $('table tbody').on( 'click', 'tr td.details-control', function () {
        var tr = $(this).closest('tr');
        var row = dt.row( tr );
        var idx = $.inArray( tr.attr('id'), detailRows );

        if ( row.child.isShown() ) {
            tr.removeClass( 'details' );
            row.child.hide();
            tr.removeClass('shown');
            // Remove from the 'open' array
            detailRows.splice( idx, 1 );
        }
        else {
            tr.addClass( 'details' );
            row.child( format( row.data() ) ).show();
            tr.addClass('shown');
            // Add to the 'open' array
            if ( idx === -1 ) {
                detailRows.push( tr.attr('id') );
            }
        }
    } );

    // On each draw, loop over the `detailRows` array and show any child rows
    dt.on( 'draw', function () {
        $.each( detailRows, function ( i, id ) {
            $('#'+id+' td.details-control').trigger( 'click' );
        } );
    } );

    $('table tbody').on('submit', 'tr td form.del', function () {
        return confirm('Are you sure you want to delete?')
    } );

    // Dynamic generate options for "year term" and select first option
    var year_term_list = <%- year_term %>
    $.each(year_term_list, function(i){
        var temp_option = document.createElement("option")
        temp_option.innerHTML = year_term_list[i].year_term
        temp_option.value = year_term_list[i].year_term
        if (i == 0){
            // initialize filter based on first item in year_term selection.
            document.getElementById("table_year_term").value = year_term_list[i].year_term
            var temp_year_term = year_term_list[i].year_term.split(" ")
            dt
            .columns( 10 )
            .search( temp_year_term[0] )
            .draw();
            dt
            .columns( 11 )
            .search( temp_year_term[1] )
            .draw();
        }
        $("#table_year_term").append(temp_option)
    })

    // On selecting new "year term", filter of table accordingly
    $("#table_year_term").change(function () {
        var temp_year_term = this.value.split(" ")
        dt
        .columns( 10 )
        .search( temp_year_term[0] )
        .draw();
        dt
        .columns( 11 )
        .search( temp_year_term[1] )
        .draw();
    } );
} );


</script>
</html>