<!DOCTYPE html>
<html>
<head>
    <title>ISSP Submission Settings</title>
    <link rel="icon" type="image/png" sizes="32x32" href="/android-chrome-192x192.png">
    <!-- Custom styles for this template -->
    <link href="/stylesheets/sb-admin-2.min.css" rel="stylesheet">
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <!-- Custom styles for this page -->
    <link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/sd-admin_custom.css">
    <link rel="stylesheet" href="/stylesheets/user_profile.css">
</head>
<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
        <%- include('./partials/dashboard_side_nav.ejs') %>
            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">
                <!-- Main Content -->
                <div id="content">
                    <%- include('./partials/dashboard_top_nav.ejs') %> 
                    <!-- Begin Page Content -->
                    <div class="container-fluid">
                        <div class="card col-md-5 mx-auto cus-login">
                            <div class="card-body align-middle">
                                <h2>Submission Settings</h2>
                                <!-- Table for Deadlines -->
                                <div>
                                    <h4>Default Deadlines:</h4>
                                    <table  style="width:100%;">
                                        <thead>
                                            <th>
                                                Term
                                            </th>
                                            <th>
                                                Default Deadline
                                            </th>
                                        </thead>
                                        <tr>
                                            <td>
                                                Summer
                                            </td>
                                            <td>
                                                April 15
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Fall
                                            </td>
                                            <td>
                                                August 31
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Winter
                                            </td>
                                            <td>
                                                December 31
                                            </td>
                                        </tr>
                                    </table>
                            </div>
                    <!-- END Table for Deadlines -->
                                <div>
                                    <p style="color:red;">Please Read before proceeding to make changes on this page</p>
                                    <table>
                                        <row>
                                            <p>
                                                "Next Deadline": indicates the time where the submission ends for the "year and term" shown below. 
                                                You can extend / bring forward the deadline by changing it. 
                                                Assigning a time in the past would automatically end the submission for the current term.
                                            </p>
                                        </row>
                                        <row>
                                            <p>
                                                "Current Submissions assign to": indicates the year and term that any incoming submissions will be assigned to.
                                                Changing this is NOT needed in most cases. 
                                            </p>
                                        </row>
                                    </table>
                                </div>
                                
                            <!-- Changes Submission form -->
                                <div>
                                    <%- include('partials/messages.ejs') %>
                                    <form method="POST" id="sys_update" action="/system/update">
                                        <div class="form-group">
                                            <label for="deadline" style="font-weight:600;">Next Deadline:</label>
                                            <input class="form-control" type="date" value="" id="deadline" name="deadline">
                                        </div>
                                        <div class="form-group">
                                            <label for="tag_year" style="font-weight:600;">Current Submissions assign to:</label>
                                            <select  class="form-control" id ="tag_year" name="submission_year">
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <select  class="form-control" id ="tag_term" name="submission_term">
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <input class="btn bcit-login" id="regbtn" type="button" data-toggle="modal" data-target="#confirm-submit" value="Update" style="width: 100%">
                                        </div>
                                    </form>
                                    <!-- Submit Modal -->
                                    <div class="modal fade" id="confirm-submit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    Confirm Update Settings
                                                </div>
                                                <div class="modal-body">
                                                    <p id="modal_msg_1"></p>
                                                    <p id="modal_msg_2"></p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                                    <a href="#" id="submit" class="btn btn-success success">Submit</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- END Submit Modal -->
                                </div>
                                <!-- END Changes Submission form -->
                            </div>
                        </div>

                    </div>
                    <!-- /.container-fluid -->
                </div>
                <!-- End of Main Content -->
            </div>
            <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/js/jquery-cookie.js"></script>
    <script src="/js/sb-admin-2.js"></script>

</body>
<script>
    var submission_tag = <%- JSON.stringify(tag) %>
    function formatDate(date) {
        var d = new Date(date),
            month = '' + (d.getMonth() + 1),
            day = '' + d.getDate(),
            year = d.getFullYear();
        if (month.length < 2) 
            month = '0' + month;
        if (day.length < 2) 
            day = '0' + day;
        return [year, month, day].join('-');
    }

    // format the deadline date received
    var deadline_parsed = <%- JSON.stringify(deadline) %>
    var deadline_formatted = formatDate(
        deadline_parsed.month + " " + 
        deadline_parsed.day + " " + 
        deadline_parsed.year
        )
    // set deadline on input field to data stored.
    document.getElementById("deadline").value = deadline_formatted;
    

    // dynamically generate option for submission year and set default value to data stored
    var temp_year = new Date().getFullYear();
    var year_list = [temp_year.toString(), (temp_year + 1).toString()]
    var select = document.getElementById('tag_year');
    var html = '';
    for (var i = 0; i < year_list.length; i++) {
        html += '<option value="' + year_list[i] + '">' + year_list[i] + '</option>'
    }
    select.innerHTML = html;
    select.value = submission_tag[0]

    // dynamically generate option for submission term and set default value to data stored
    var term_list = ["winter", "summer", "fall"]
    var select2 = document.getElementById('tag_term');
    var html2 = '';
    for (var i = 0; i < term_list.length; i++) {
        html2 += '<option value="' + term_list[i] + '">' + term_list[i] + '</option>'
    }
    select2.innerHTML = html2;
    select2.value = submission_tag[1]

    $('#regbtn').on('click', function () {
        document.getElementById("modal_msg_1").innerHTML = "";
        document.getElementById("modal_msg_2").innerHTML = "";
        var year_value = select.value
        var term_value = select2.value
        var deadline_value = document.getElementById("deadline").value
        var months = ["JAN", "FEB", "MAR","APR", "MAY", "JUN", "JUL", "AUG", "SEP", "OCT", "NOV", "DEC"];
        let deadline_date = deadline_value.split("-");
        deadline_date[1] = months[deadline_date[1]-1]      
        var deadline_compare = (deadline_date[0]==deadline_parsed.year)&&(deadline_date[1]==deadline_parsed.month)&&(deadline_date[2]==deadline_parsed.day)
        // Show different message based on changes in the form
        if (!((submission_tag[0]==year_value)&&(submission_tag[1]==term_value)&&deadline_compare)){
            if (new Date(deadline_date.join(' ')) < (new Date())){
                var modal_message2 = 'Update the new deadline to a time in the past will automatically end the submission for the current term.'
                document.getElementById("modal_msg_2").innerHTML = modal_message2;
            }
            var modal_message1 = "Are you sure you want to update the next deadline to "+ deadline_value + " for the term: "+ year_value + " "+ term_value + "?"
        }else{
            var modal_message1 = "You have not made any changes"
        }
        document.getElementById("modal_msg_1").innerHTML = modal_message1;
    } );

    $('#submit').click(function(){
        /* when the submit button in the modal is clicked, submit the form */
        $('#sys_update').submit();
    });

</script>
</html>